.cartWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 1rem;
  
}

@media (width <= 800px) {
  .cartWidget{
    margin: 0;
  }
}
