.IniciarCerrarSesion {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  
  .IniciarCerrarSesion button{
    background-color: #f0f6f4 ;
    padding: 0.5rem 0.5rem ;
    border: none ;
    color: #b97d99;
    cursor: pointer ;
    border-radius: 0.3rem ;
  }